.margin-0{
	margin-left: 0px !important;
}
.table_action_display{
	display: inline-flex;
}
.router_link_color{
	color: white;
}
.table_image{
	width: 32%;
}
.btn-custom{
	color: #333;
  background-color: #317a8b;
  border-color: #ddd;
}
.view_modal_width{
	width: 130%;
  margin-left: -14%;

}
.panel-body .text-center > img{
	margin-bottom: 40px;
}

.custom-image{
	height: 230px;
    margin-top: -80%;
    width: 60%;
    margin-left: 15%;
}
.text-warning {
    color: #ef6c00 !important;
}